<%- include('partials/header') %>

<br><br><br>
<h5 style="text-align: center;">This app is created for revealing the secrets of people around the world.</h5>
<p style="text-align: center;">You can add as much of your secrets. Your identity will kept secret.</p>

<div class="jumbotron aboutCentered">
    <div class="container">
   		<i class="fas fa-key fa-6x"></i>
    	<h1 class="display-3">Secrets</h1>
    	<p class="lead">Don't keep your secrets, share them anonymously!</p>
    	<hr>
    </div>
</div>

<%- include('partials/footer') %>