<%- include('partials/header2') %>

<a href="https://www.facebook.com/profile.php?id=100008072538118" class="fa fa-facebook" style="text-decoration: none;"></a>
<a href="https://twitter.com/AryanChauhan25" class="fa fa-twitter" style="text-decoration: none;"></a>
<a href="https://www.instagram.com/__.itsaryan.__/?hl=en" class="fa fa-instagram" style="text-decoration: none;"></a>
<a href="https://www.linkedin.com/in/aryan-chauhan-856a4b192/" class="fa fa-linkedin" style="text-decoration: none;"></a>

<div class="jumbotron centered">
    <div class="container">
   		<i class="fas fa-key fa-6x"></i>
    	<h1 class="display-3">Secrets</h1>
    	<p class="lead">Don't keep your secrets, share them anonymously!</p>
    	<hr>
    </div>
</div>

<%- include('partials/footer') %>